apiVersion: apps/v1
kind: Deployment
metadata:
  name: apod-discord-bot
  labels:
    app: apod-discord-bot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apod-discord-bot
  template:
    metadata:
      labels:
        app: apod-discord-bot
    spec:
      containers:
      - name: apod-discord-bot
        image: ghcr.io/helixspiral/apod-mqtt-to-discord:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: MQTT_CLIENT_ID
          value: apodDiscordSub
        - name: MQTT_BROKER
          valueFrom:
            configMapKeyRef:
              name: apod
              key: MQTT_BROKER
        - name: MQTT_TOPIC
          valueFrom:
            configMapKeyRef:
              name: apod
              key: MQTT_TOPIC
        - name: DISCORD_BOT_TOKEN
          valueFrom:
            secretKeyRef:
              name: apod
              key: DISCORD_BOT_TOKEN
        - name: DISCORD_CHANNEL_ID
          valueFrom:
            configMapKeyRef:
              name: apod
              key: DISCORD_CHANNEL_ID
      imagePullSecrets:
      - name: ghcr-credentials