apiVersion: v1
kind: Pod
metadata:
  name: apod-discord-bot
spec:
  containers:
  - name: apod-discord-bot
    image: ghcr.io/helixspiral/apoddiscordbot:latest
    imagePullPolicy: IfNotPresent
    env:
    - name: MQTT_CLIENT_ID
      value: apodDiscordSub
    - name: MQTT_BROKER
      valueFrom:
        configMapKeyRef:
          name: apod
          key: MQTT_BROKER
    - name: MQTT_TOPIC
      valueFrom:
        configMapKeyRef:
          name: apod
          key: MQTT_TOPIC
    - name: DISCORD_BOT_TOKEN
      valueFrom:
        secretKeyRef:
          name: apod
          key: DISCORD_BOT_TOKEN
    - name: DISCORD_CHANNEL_ID
      valueFrom:
        configMapKeyRef:
          name: apod
          key: DISCORD_CHANNEL_ID
  restartPolicy: OnFailure
  imagePullSecrets:
  - name: ghcr-credentials
